* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Set to 'cover' to fill the entire viewport without whitespace */
    background-position: center center;
    filter: blur(px); /* Add the desired blur value */
    z-index: -1;
}

.heading-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.heading-text h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px #ccc;
    width: 70%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

button {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 800;
    border: 1px solid #ccc;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px #ccc;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #eee7e7;
    cursor: pointer;
    transform: scale(1.1);
}
